.survey-detail {
  padding: 30px 50px;
  background: var(--color-gray);
  display: flex;
  align-items: center;
  width: 100%;
  > div {
    width: 100%;
  }
  ul {
    list-style: none;
    margin-top: 30px;
    li {
      margin-top: 30px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
