<p>survey-tags works!</p>

<div class="survey-tags">
  <p class="survey-tags__name">Check-In Surveys</p>
  <div class="survey-tags__date">March 11, 2024</div>
  <div class="survey-tags__met">Target Met</div>
</div>

<div class="survey-tags">
  <p class="survey-tags__name">Check-In Surveys</p>
  <div class="survey-tags__date">December 12, 2024</div>
  <div class="survey-tags__not-met">Target Not Met</div>
</div>

<div class="survey-tags">
  <p class="survey-tags__name">Check-In Surveys</p>
  <div class="survey-tags__date">December 12, 2024</div>
  <div class="survey-tags__no-responses">No Responses Collected</div>
</div>
