.survey-tags {
  &__name {
    color: green;
  }
}

.survey-tags {
  &__date {
    color: darkslateblue;
  }
}

.survey-tags {
  &__met {
    color: purple;
  }
}

.survey-tags {
  &__not-met {
    color: pink;
  }
}

.survey-tags {
  &__no-responses {
    color: darkblue;
  }
}
