:root {
  --color-blue-500: #24C4C8;
  --color-magenta-200: #EAD3E3;
  --color-magenta-500: #B15DC9;

  --color-gray: #f9f9f9;
  --color-gray-300: #EBEBEB;
  --color-gray-350: #D7DBDF;
  --color-gray-500: #86909E;
  --color-gray-600: #43474F;

  --color-white-700: #ffffff;
  --color-red-500: #FF246D;

  --color-gray-50: #FCFCFC;
  --color-gray-100: #F7F7F7;
  --color-black-100: #36383f;
  --color-black-500: #212327;

  --color-gray-200: #F4F4F4;
  --color-gray-400: #BEBEBE;
  --color-gray-700: #35383F;

  --color-white: #FFFFFF;

  --color-black: #1B171A;
  --color-black-600: #16171a;
}

