<div class="accordion" [class.open]="isOpen">
  <div class="accordion__head">
    <div class="accordion__head-content">
      <ng-content select="[head]"></ng-content>
    </div>
    <button
      type="button"
      class="accordion__head-button"
      (click)="toggle()"
    >
      <i class="icon-arrow-down"></i>
    </button>
  </div>
  <div class="accordion__content">
    <div class="accordion__content-expander">
      <div class="accordion__content-render">
        <ng-content select="[content]"></ng-content>
      </div>
    </div>
  </div>
</div>
