<div class="list">
  <div class="list__left">
    <div class="list__number" *ngIf="hasListNumber">{{listNumber}}</div>
    <p class="list__text" *ngIf="hasText">{{text}}</p>
  </div>
  <div *ngIf="hasButtonIcon" class="list__right">
    <app-tooltip [text]="tooltip">
      <button type="button"
              (click)="clickButton()">
        <i class="{{buttonIcon}}"></i>
      </button>
      <div class="list__copy"
           [class.show]="showCopy"
           *ngIf="hasTextCopy"
           type="button">
        <i class="icon-check-mark"></i>
        <p>{{textCopy}}</p>
      </div>
    </app-tooltip>
  </div>
</div>
