.group-card {
  display: flex;
  align-items: center;
  justify-content: stretch;
  &__content {
    flex: 1;
    &-children {
      display: flex;
      align-items: center;
      justify-content: stretch;
    }
  }
}
