:root {
  --color-green-50: #FFFDF0C;
  --color-green-100: #ECFBB6;
  --color-green-200: #D9F7EE;
  --color-green-300: #B3EDD0;
  --color-green-400: #66DFBB;
  --color-green-500: #00CARE;
  --color-green-600: #1B8B89;
  --color-green-700: #0A8A77;

  --color-blue-50: #F8FCFD;
  --color-blue-100: #F2F8FB;
  --color-blue-200: #D0CFCF;
  --color-blue-300: #B0DCEF;
  --color-blue-400: #7EBDDE;
  --color-blue-500: #294C6B;
  --color-blue-600: #2BABB0;
  --color-blue-700: #218A8B;

  --color-purple-50: #FAF6FF;
  --color-purple-100: #F2F2FB;
  --color-purple-200: #E5CDF8;
  --color-purple-300: #D0B4F3;
  --color-purple-400: #BFAAEC;
  --color-purple-500: #9B36D6;
  --color-purple-600: #8400CA;
  --color-purple-700: #5530B3;

  --color-magenta-50: #FAF8FB;
  --color-magenta-100: #F7F0F6;
  --color-magenta-200: #EAD3E3;
  --color-magenta-300: #DDB4D1;
  --color-magenta-400: #CB99BD;
  --color-magenta-500: #B15DC9;
  --color-magenta-600: #AD41CC;
  --color-magenta-700: #8F38A7;

  --color-gray-50: #FCFCFC;
  --color-gray-100: #F7F7F7;
  --color-gray-200: #F4F4F4;
  --color-gray-300: #EBEBEB;
  --color-gray-400: #BEBEBE;
  --color-gray-500: #999999;
  --color-gray-600: #7D7D7D;
  --color-gray-700: #535BF;

  --color-black-white-white: #FFFFFF;
  --color-black-white-black: #1B171A;
  --color-black-white-black-p: #000000;

  --color-yellow-50: #FFFDF7;
  --color-yellow-100: #FEFBEA;
  --color-yellow-200: #FFF7D7;
  --color-yellow-300: #FFF4C8;
  --color-yellow-400: #FFE786;
  --color-yellow-500: #FFD047;
  --color-yellow-600: #F3CF3E;
  --color-yellow-700: #ETC439;

  --color-orange-50: #FFFBF5;
  --color-orange-100: #FEF6E9;
  --color-orange-200: #FFEDD3;
  --color-orange-300: #FFE4B8;
  --color-orange-400: #FECD87;
  --color-orange-500: #FEA424;
  --color-orange-600: #F0A029;
  --color-orange-700: #E59118;

  --color-red-50: #FFF8FA;
  --color-red-100: #FFF0F5;
  --color-red-200: #FFDAE7;
  --color-red-300: #FFBDD3;
  --color-red-400: #FFA5C5;
  --color-red-500: #FF246D;
  --color-red-600: #EA3472;
  --color-red-700: #DB1E5E;

  --color-azure-50: #F8FCFE;
  --color-azure-100: #F3F7FC;
  --color-azure-200: #DCE7F6;
  --color-azure-300: #B2CFFF;
  --color-azure-400: #84BBFF;
  --color-azure-500: #396FF7;
  --color-azure-600: #0396FE;
  --color-azure-700: #0024FCA;

  --color-indigo-50: #FAF6FF;
  --color-indigo-100: #F1E8FE;
  --color-indigo-200: #E3D1FD;
  --color-indigo-300: #D8BFFB;
  --color-indigo-400: #BEBEBF;
  --color-indigo-500: #9949EF;
  --color-indigo-600: #8D00FA;
  --color-indigo-700: #6401E3;

  --color-jade-50: #FBFFF6;
  --color-jade-100: #F1FAE4;
  --color-jade-200: #EDFDB6;
  --color-jade-300: #E2FAB7;
  --color-jade-400: #CCFB87;
  --color-jade-500: #AADB53;
  --color-jade-600: #91CA2E;
  --color-jade-700: #72B101;
}

$color-green-50: var(--color-green-50);
$color-green-100: var(--color-green-100);
$color-green-200: var(--color-green-200);
$color-green-300: var(--color-green-300);
$color-green-400: var(--color-green-400);
$color-green-500: var(--color-green-500);
$color-green-600: var(--color-green-600);
$color-green-700: var(--color-green-700);

$color-blue-50: var(--color-blue-50);
$color-blue-100: var(--color-blue-100);
$color-blue-200: var(--color-blue-200);
$color-blue-300: var(--color-blue-300);
$color-blue-400: var(--color-blue-400);
$color-blue-500: var(--color-blue-500);
$color-blue-600: var(--color-blue-600);
$color-blue-700: var(--color-blue-700);

$color-purple-50: var(--color-purple-50);
$color-purple-100: var(--color-purple-100);
$color-purple-200: var(--color-purple-200);
$color-purple-300: var(--color-purple-300);
$color-purple-400: var(--color-purple-400);
$color-purple-500: var(--color-purple-500);
$color-purple-600: var(--color-purple-600);
$color-purple-700: var(--color-purple-700);

$color-magenta-50: var(--color-magenta-50);
$color-magenta-100: var(--color-magenta-100);
$color-magenta-200: var(--color-magenta-200);
$color-magenta-300: var(--color-magenta-300);
$color-magenta-400: var(--color-magenta-400);
$color-magenta-500: var(--color-magenta-500);
$color-magenta-600: var(--color-magenta-600);
$color-magenta-700: var(--color-magenta-700);

$color-gray-50: var(--color-gray-50);
$color-gray-100: var(--color-gray-100);
$color-gray-200: var(--color-gray-200);
$color-gray-300: var(--color-gray-300);
$color-gray-400: var(--color-gray-400);
$color-gray-500: var(--color-gray-500);
$color-gray-600: var(--color-gray-600);
$color-gray-700: var(--color-gray-700);

$color-black-white-white: var(--color-black-white);
$color-black-white-black: var(--color-black-white);
$color-black-white-black-p: var(--color-black-white);

$color-yellow-50: var(--color-yellow-50);
$color-yellow-100: var(--color-yellow-100);
$color-yellow-200: var(--color-yellow-200);
$color-yellow-300: var(--color-yellow-300);
$color-yellow-400: var(--color-yellow-400);
$color-yellow-500: var(--color-yellow-500);
$color-yellow-600: var(--color-yellow-600);
$color-yellow-700: var(--color-yellow-700);

$color-orange-50: var(--color-orange-50);
$color-orange-100: var(--color-orange-100);
$color-orange-200: var(--color-orange-200);
$color-orange-300: var(--color-orange-300);
$color-orange-400: var(--color-orange-400);
$color-orange-500: var(--color-orange-500);
$color-orange-600: var(--color-orange-600);
$color-orange-700: var(--color-orange-700);

$color-red-50: var(--color-red-50);
$color-red-100: var(--color-red-100);
$color-red-200: var(--color-red-200);
$color-red-300: var(--color-red-300);
$color-red-400: var(--color-red-400);
$color-red-500: var(--color-red-500);
$color-red-600: var(--color-red-600);
$color-red-700: var(--color-red-700);

$color-azure-50: var(--color-azure-50);
$color-azure-100: var(--color-azure-100);
$color-azure-200: var(--color-azure-200);
$color-azure-300: var(--color-azure-300);
$color-azure-400: var(--color-azure-400);
$color-azure-500: var(--color-azure-500);
$color-azure-600: var(--color-azure-600);
$color-azure-700: var(--color-azure-700);

$color-indigo-50: var(--color-indigo-50);
$color-indigo-100: var(--color-indigo-100);
$color-indigo-200: var(--color-indigo-200);
$color-indigo-300: var(--color-indigo-300);
$color-indigo-400: var(--color-indigo-400);
$color-indigo-500: var(--color-indigo-500);
$color-indigo-600: var(--color-indigo-600);
$color-indigo-700: var(--color-indigo-700);

$color-jade-50: var(--color-jade-50);
$color-jade-100: var(--color-jade-100);
$color-jade-200: var(--color-jade-200);
$color-jade-300: var(--color-jade-300);
$color-jade-400: var(--color-jade-400);
$color-jade-500: var(--color-jade-500);
$color-jade-600: var(--color-jade-600);
$color-jade-700: var(--color-jade-700);


// TODO Revisar si se necesita
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-text: var(--color-text);
$color-background: var(--color-background);
