@import '../../../../../styles/base/mixins';

.item-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  i {
    font-size: 1rem;
    color: var(--color-gray-500);
  }
  img {
    width: 16px;
    height: auto;
  }
  p {
    font-size: toRem(14);
    font-weight: 400;
  }
}
