<div class="count-tooltip" [class.show-tooltip]="showTooltip">
  <div *ngIf="hasLabel" class="count-tooltip__label">{{label?.text}}<button type="button" (click)="toggleTooltip()"><i class="{{label?.icon}}"></i></button></div>
  <p *ngIf="hasText"><strong class="{{textColor}}">{{text}}</strong></p>
  <div *ngIf="hasTooltip" class="count-tooltip__info">
    <div class="count-tooltip__info-head">
      <p>
        <span class="{{tooltip?.colorIcon}}">
          <i class="icon-Info"></i>
        </span>
        {{tooltip?.title}}
      </p>
      <button type="button" (click)="toggleTooltip()"><i class="icon-close"></i></button>
    </div>
    <div class="count-tooltip__info-content">
      <p>{{tooltip?.description}}</p>
    </div>
  </div>
</div>
