///// FUNDAMENTALS /////

// Base
@import 'styles/base/reset';
@import 'styles/base/mixins';

// Primitives
@import 'styles/primitives/colors';
@import 'styles/primitives/typography';
@import 'styles/primitives/icons';
@import 'styles/primitives/breakpoints';

// Primitives
@import 'styles/base/global';

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-stretch {
  justify-content: stretch;
}

.flex-1 {
  flex: 1;
}

.mt-4 {
  margin-top: 4px;
}

.block {
  display: block;
}

